<h1>New Title</h1>


<%= form_with model: @title, url: catalogs_path, local: true do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <%= form.submit "Create Catalog" %>
<% end %>
