<h1>INDIVIDUAL TITLE's DYNAMIC SHOW</h1>
<div class="container">
  <h1><%= @catalog.title %></h1>
  <ul class="anime-list">
    <li>Genre: <%= @catalog.genre %> <br><br>
      Episodes: <%= @catalog.episodes %><br><br>
      Added by: <%=  @lister %></li>
  </ul>
</div>



