<h1>ABOUT PAGE</h1>

<h2>navigation routes completed</h2>
<ul>
  <li>/</li>
  <li>/about</li>
  <li>/index</li>
  <li>/show/:id</li>
</ul>

<h2>to do list</h2>
<ul>
  <li>add genre & episodes to migration</li>
  <li>edit seed file to contain episodes & migration <br>
      will do this later because it is time consuming</li>
  <li>make home "titles" links</li>
  <li>Insert genre & episodes into correct areas in home & individual views</li>
  <li>Add ability to edit & create views for genre & episodes</li>
  <li>Add validation to edit and create for edit & episodes</li>
  <li>add navigation/search bar</li>
  <li>add login and user authentication</li><br><br>
  <li>user association</li>
  <ul>
    <li>implement one to many</li>
    <li>saving favorites to a profile</li>
    <li>maybe leaving some reviews</li>
  </ul>
</ul>
