<h1>ABOUT PAGE</h1>

<h2>to do list</h2>
<ul>
  <li>add genre & episodes to migration</li>
  <li>edit seed file to contain episodes & migration <br>
      will do this later because it is time consuming</li>
  <li>make home "titles" links</li>
  <li>Insert genre & episodes into correct areas in home & individual views</li>
  <li>Add ability to edit & create views for genre & episodes</li>
  <li>Add validation to edit and create for edit & episodes</li>
  <li>add navigation/search bar</li>
  <li>add login and user authentication</li><br><br>

  <li>individual show</li>
  <ul>
    <li></li>
    <li>saving favorites to a profile</li>
    <br>
    <li> IF LOGGED IN</li>
    <ul>
      <li>leave comments</li>
      <li>show comments</li>
    </ul>
  </ul>

  <li>User page</li>
  <ul>
    <li>show favorites</li>
    <li>Add ability to delete account</li>
  </ul>
</ul>

<h2>Issues</h2>
<ul>
  <li>it seems some of my helpers to quickly access paths are acting wierd Im having to manually define some routes to actions</li>
</ul>