<h1>INDEX PAGE</h1>
<link rel="stylesheet" href="/assets/stylesheets/index.css">
<% @animes.each do |title| %>
  <%= link_to "#{title.title}", anime_path(title), class: 'hover-link'%><br><br>

  <%= link_to "Edit", edit_anime_path(title), class: 'hover-link' %>
  <%= button_to "Destroy", anime_path(title), method: :delete,
                data: {turbo_confirm: "Are You Sure you want to delete #{title.title}?"} %>
  <br><br>
<% end %>

<!-- Pagination -->
<div>
  <%= pagy_nav(@pagy).html_safe%>
</div>

