<!-- Displaying this with render won't work because of turbo frames, will figure this out later -->
<!-- for now flash messages will do -->


<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>The following errors occurred:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>